awsebcli==3.14.9
botocore==1.12.82
cement==2.8.2
certifi==2018.11.29
Click==7.0
colorama==0.3.9
docutils==0.14
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.1.0
numpy==1.16.0
pandas==0.23.4
pathspec==0.5.5
python-dateutil==2.7.5
pytz==2018.9
PyYAML==3.13
semantic-version==2.5.0
six==1.11.0
SQLAlchemy==1.2.16
termcolor==1.1.0
urllib3==1.24.1
Werkzeug==0.14.1
wincertstore==0.2
